@{
    ViewData["Title"] = "About";
    ViewData["About"] = "Sales Web MVC App from C# Course";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["About"]</h2>

<p>Use this page to detail your site's privacy policy.</p>